@charset "UTF-8";
* {
  box-sizing: border-box; }

.h-top-block {
  background-color: #c7000b;
  height: 10px; }

header {
  width: 1200px;
  height: 80px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #ddcfc8;
  background: url(../img/줤젱.png) center no-repeat #f9fcff;
  /*li{
  	float: right;
  	margin-top: 15px;
  }*/ }
  header .logo {
    position: absolute;
    margin: 20px auto 20px 20px; }
  header .title {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 20px; }
  header input {
    height: 30px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #c0aca2; }
  header .btn-search {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #c7000b;
    border-color: #c7000b; }
  header .btn-login, header .btn-plug {
    height: 30px;
    width: 95px;
    border-radius: 5px;
    border-color: #8ec21f;
    background-color: #8ec21f; }
  header .btn-login, header .btn-plug span {
    color: white; }
  header .epark-right-menu {
    width: 300px;
    float: right;
    list-style-type: none; }
  header .epark-search-top {
    float: right;
    margin-top: 40px; }
    header .epark-search-top li {
      float: right; }
  header ul li {
    height: 30px;
    width: 95px;
    border-radius: 5px;
    background-color: #8ec21f;
    text-align: center;
    color: white; }

section .spark-btn-update {
  margin-top: 35px;
  margin-bottom: 60px;
  text-align: center; }
  section .spark-btn-update button:hover {
    background-color: #e0f2b6;
    border: 2px solid #b4d46e;
    color: #899f5c; }
  section .spark-btn-update button {
    width: 280px;
    height: 50px;
    font-weight: bold;
    color: #936945;
    border-radius: 5px;
    background-color: #f3efe9;
    border: 2px solid #e4dbce;
    margin-right: 20px; }
section .epark-form-content tr th:first-child {
  background-color: #f3efe9;
  width: 230px;
  height: 60px;
  padding-left: 10px; }
section .epark-form-content tr td:first-child {
  background-color: #f3efe9;
  width: 230px;
  padding: 10px; }
section .epark-form-content tr th:nth-child(2) {
  padding-left: 30px; }
section .epark-content input[type="text"] {
  margin-left: 30px; }
section .epark-content input[type="radio"] {
  margin-left: 30px; }
section .epark-content h1 {
  height: 45px;
  border-bottom: 2px dotted #999999; }
section .epark-content h3 {
  height: 50px;
  border-bottom: 2px dotted #999999; }
section .epark-content tr {
  border-bottom: 2px dotted #999999; }
section .epark-content .epark-btn-a, section .epark-content .epark-btn-e, section .epark-content .epark-btn-d, section .epark-content .epark-btn-f, section .epark-content .epark-btn-g, section .epark-content .epark-btn-p, section .epark-content .epark-btn-h, section .epark-content .epark-btn-j, section .epark-content .epark-btn-k {
  height: 60px; }
section .epark-content .epark-btn-b {
  height: 135px; }
section .epark-content .epark-btn-c, section .epark-content .epark-btn-l {
  height: 155px; }
section .epark-content .epark-btn-h {
  height: 80px; }
section .alert-bottom {
  background-color: #ffe9ea;
  height: 30px;
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 15px;
  color: #cb141a;
  font-weight: bold; }

/*@media screen and (max-width: 1024px)
 .toppage{
    right: 0;
}	
*/
.toppage {
  background: url(../images/toppage.png) center center no-repeat;
  width: 60px;
  height: 60px;
  background-size: 60px;
  display: inline-block;
  position: absolute;
  top: -32px;
  cursor: pointer; }

span {
  border: 0;
  font-family: notosans,sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0; }

footer {
  color: #936945;
  padding: 0;
  display: block;
  border: 0;
  font-family: notosans,sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  border-top: 2px solid #c7000b;
  width: 1200px;
  height: auto;
  margin-top: 20px;
  min-height: 92px;
  width: 100%;
  background-color: #f3efe9;
  float: left; }
  footer p {
    font-size: 10px;
    margin-bottom: 10px; }
  footer p, footer ul, footer li {
    text-align: center; }
  footer .epark-global-footer-group-title {
    font-weight: bold;
    border-bottom: 2px solid #936945;
    width: 1200px;
    /*	padding-left:  10px;*/
    margin-top: 20px;
    margin-bottom: 10px; }
  footer .pc-f-block {
    margin-top: 25px;
    margin-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
